body{
    background-color: antiquewhite;
    font-family: tahoma;
}
.principal img{
    width: 100%;
}
h1{
    background-color: blueviolet;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}
.titulo{
    margin-top: 4.5em;
    background-color: blueviolet;
    padding: 0.5em;
}